{% extends "main/base.html" %}
{% load static %}
{% load crispy_forms_tags %}
{% block style %}
<link rel="stylesheet" href='{% static "css/item-details.css" %}'/>
{% endblock %}
{% block title %} INVENTORY | {{item.description}}  {% endblock %}

{% block content %}
<style>
    .bg {

        border-top-right-radius: 20px;
        border-bottom-right-radius: 20px;

        /* The image used */
            {%if item.image%}

        background-image: url({{item.image.url}});

            {% endif %}

        /* Full height */
        width: 45%;
        height: 100%;

        /* Center and scale the image nicely */
        background-position: center;
        background-repeat: no-repeat;
        background-size: cover;
    }
</style>

<div class="bg"></div>

<div class="split right">
    <div class="centered">
        <h2 style="text-transform: uppercase;">{{item.description}}</h2>

            <div class="contents">
                <div class="cat">
                    <i class="bi bi-qr-code"></i>
                    <p class="info">Code: {{item.code}}</p>
                </div>
                <div class="cat">
                    <i class="bi bi-diagram-3-fill"></i>
                    <p class="info">Quantity: {{item.quantity}}</p>
                </div>
                <div class="cat">
                    <i class="bi bi-geo-alt-fill"></i>
                    <p class="info">{{item.area.location}}: {{item.area.name}}</p>
                </div>
                <br><br>
            </div>
            <p>Description: {{item.details}}</p>

            <form method="post">

                {% csrf_token %}
            <div id="cat">
                <input type="submit" class="createbtn perfect" name="perfect" value="PERFECT">
                <button  class="createbtn notmatch" type="button" onclick="apear()">DOESN'T MATCH</button>
<!--                <input type="submit" class="createbtn notmatch" value="DOESN'T MATCH" >-->
                <input type="submit" name="doesnotexist" class="createbtn delete" value="DELETE">
            </div>
            <br>
            <div class="input-icons" id="mismatch">
                <i class="bi bi-diagram-3-fill fa-2x icon" style="color: var(--navy);"></i>
                <input class="input-field" name="actual" type="text" placeholder="Actual Quantity">
                <div class="reportbtn">
                    <input type="submit" name="report" value="SUBMIT" class="submitquant submitbtn">
                    <button style="color:var(--buttoncolor); border: 3px solid var(--buttoncolor);" class="cancelquant submitbtn" type="button" onclick="apear()">CANCEL</button>
                    <!-- <type="submit" value="CANCEL" style="color:var(--buttoncolor); border: 3px solid var(--buttoncolor);" class="cancelquant submitbtn"> -->
                </div>
            </div>
        </form>
    </div>
</div>

{% endblock %}

{%block script%}

<script>



    function apear() {
        var mismatch = document.getElementById("mismatch");
        var cat = document.getElementById("cat");
        if (window.getComputedStyle(document.querySelector('#mismatch')).display == "block") {
            mismatch.style.display = "none";
        } else {
         mismatch.style.display = "block";
        }

        if (window.getComputedStyle(document.querySelector('#cat')).display == "block") {
            cat.style.display = "none";
        } else {
         cat.style.display = "block";
        }




    }

</script>

{%endblock%}