{% extends "main/base.html" %}
{% load static %}
{% load crispy_forms_tags %}
{% block style %}
<link rel="stylesheet" href='{% static "css/reportlist.css" %}'/>
{% endblock %}
{% block title %}INVENTORY | REPORT {% endblock %}

{% block content %}
    <div class="container">
        <div class="main">
            <h1>REPORT</h1>
            <br>

        <table id="report">
          <tr>
            <th>Date</th>
            <th>Item</th>
            <th>User</th>
            <th>Area</th>
            <th>Expected Quantity</th>
            <th>Actual Quantity</th>
            <th>New Item</th>
            <th>Delete Item</th>
          </tr>
            {% for r in reports %}
            <tr>

            <td>{{r.date }}</td>
            <td>{{r.item}}</td>
            <td>{{r.user.full_name}}</td>
            <td>{{r.item.area}}</td>
            <td>{{r.expected}}</td>
            <td>{{r.actual}}</td>
            {%if not r.item.approved %}
                <td style="background-color:#7EE063; color:white;">Yes</td>
             {% else %}
                <td>No</td>
            {%endif%}

            {% if not r.actual %}
                <td style="background-color:#e16464; color:white;">Yes</td>
            {% else %}
                <td>No</td>
            {% endif %}

            </tr>
            {%endfor%}
</table>
        </div>
    </div>
<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
<script src='{% static "js/reportlist.js" %}'></script>
<script>



</script>


{% endblock %}