{% extends "main/base.html" %}
{% load static %}
{% load crispy_forms_tags %}
{% block style %}
<link rel="stylesheet" href='{% static "css/reportlist.css" %}'/>
{% endblock %}
{% block title %}INVENTORY | REPORT {% endblock %}

{% block content %}
    <div class="container">
        <div class="main">
            <h1>REPORT</h1>
            <br>
                <div class="tab">

                    {% for area in areas %}
                    <div class="areas" onclick="displaydates('{{ area }}, {{area.location}}')">
                        <h4> {{area}}, {{area.location}}</h4>
                        <i class="bi bi-caret-down-fill"></i>
                    </div>
                   <div class="all_dates" id="{{area}}, {{area.location}}">
                    </div>
                    {% endfor %}

                </div>
        </div>
    </div>
<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
<script src='{% static "js/reportlist.js" %}'></script>
<script>
    function dates(area_date) {
    {% for report in reports %}
        var date = '{{ report }}'
        var dt = new Date(date)
        dt = dt.toLocaleDateString("en-EN", {
            day: "numeric",
            month: "long",
            year: "numeric"
        })

         area_date.innerHTML +=
                ' <div class="dates unopened">' +
                '<h5>'+ dt +'</h5>' +
                '</div>';
    {% endfor %}
}
</script>


{% endblock %}