{% extends "main/base.html" %}
{% load static %}
{% load crispy_forms_tags %}
{% block style %}
<link rel="stylesheet" href='{% static "css/report_items.css" %}'/>
{% endblock %}

{% block title %} Report Table {% endblock %}

{% block content %}

<div class="container">
    <div class="main">
        <h1>{{area}}</h1>
        <br>
        {%for item in items%}
         <div class="card" style="background-color: white;">
                <div class="circle">
                    <img src="https://assets.pbimgs.com/pbimgs/ab/images/dp/wcm/202251/0141/chesterfield-upholstered-sofa-1-c.jpg"
                        alt="">
                </div>
                <div class="text">
                    <h2 style="font-weight:500">{{item.code}}</h2>

                    <div class="button-row">
                        <div>
                            <i class="bi bi-geo-alt-fill"></i>
                            <p>{{ item.area }}</p>
                        </div>
                        <a href="{% url 'report-detail' item.slug %}" class="report">Report</a>
                        <a href="#" class="edit">Edit</a>

                    </div>

                </div>

            </div>

        <br>
        {% endfor %}



    </div>
</div>
{% endblock %}

