{% extends "main/base.html" %}
{% load static %}
{% load crispy_forms_tags %}
{% block style %}
<link rel="stylesheet" href='{% static "css/setting-detail.css" %}'/>
{% endblock %}
{% block title %}INVENTORY | SETTINGS {% endblock %}

{% block content %}

<div class="container" onload="displayAreas">

    <div class="main">
        <h1 style=" text-transform: uppercase;">{{object.full_name}}</h1>
        <i class="fa fa-2x fa-envelope icon"></i>
        <h2>{{object.email}}</h2>

            <br>
            <br>
            <div class="flex-container">
                <div class="flex-child magenta">
                    <div id="demo" style="display=block;">
                    </div>            
                </div>


                <div class="flex-child green">
                <form method="post" id="task-form" onsubmit="displayAreas">
                     {% csrf_token %}

                    <div class="custom-select" >
                        <select name="areas">
                            <option value="0">Select Area:</option>
                            {% for area in areas%}
                            <option value="{{area}}, {{area.location}}" id="task">{{area}}, {{area.location}}</option>
                            {% endfor %}
                        </select>
                    </div>
                    <input type="submit" value="ADD AREA">
                </form>
                </div>

            </div>

    </div>
</div>

<script>
    var x, i, j, l, ll, selElmnt, a, b, c;
    /*look for any elements with the class "custom-select":*/
    x = document.getElementsByClassName("custom-select");
    l = x.length;
    for (i = 0; i < l; i++) {
        selElmnt = x[i].getElementsByTagName("select")[0];
        ll = selElmnt.length;
        /*for each element, create a new DIV that will act as the selected item:*/
        a = document.createElement("DIV");
        a.setAttribute("class", "select-selected");
        a.innerHTML = selElmnt.options[selElmnt.selectedIndex].innerHTML;
        x[i].appendChild(a);
        /*for each element, create a new DIV that will contain the option list:*/
        b = document.createElement("DIV");
        b.setAttribute("class", "select-items select-hide");
        for (j = 1; j < ll; j++) {
            /*for each option in the original select element,
            create a new DIV that will act as an option item:*/
            c = document.createElement("DIV");
            c.innerHTML = selElmnt.options[j].innerHTML;
            c.addEventListener("click", function (e) {
                /*when an item is clicked, update the original select box,
                and the selected item:*/
                var y, i, k, s, h, sl, yl;
                s = this.parentNode.parentNode.getElementsByTagName("select")[0];
                sl = s.length;
                h = this.parentNode.previousSibling;
                for (i = 0; i < sl; i++) {
                    if (s.options[i].innerHTML == this.innerHTML) {
                        s.selectedIndex = i;
                        h.innerHTML = this.innerHTML;
                        y = this.parentNode.getElementsByClassName("same-as-selected");
                        yl = y.length;
                        for (k = 0; k < yl; k++) {
                            y[k].removeAttribute("class");
                        }
                        this.setAttribute("class", "same-as-selected");
                        break;
                    }
                }
                h.click();
            });
            b.appendChild(c);
        }
        x[i].appendChild(b);
        a.addEventListener("click", function (e) {
            /*when the select box is clicked, close any other select boxes,
            and open/close the current select box:*/
            e.stopPropagation();
            closeAllSelect(this);
            this.style.borderTopLeftRadius = "7px";
            this.style.borderTopRightRadius = "7px";
            this.style.borderBottomLeftRadius = "0px";
            this.style.borderBottomRightRadius = "0px";
            // e.style.backgroundColor = "red";
            this.nextSibling.classList.toggle("select-hide");
            this.classList.toggle("select-arrow-active");
        });
    }
    function closeAllSelect(elmnt) {
        /*a function that will close all select boxes in the document,
        except the current select box:*/
        var x, y, i, xl, yl, arrNo = [];
        x = document.getElementsByClassName("select-items");
        y = document.getElementsByClassName("select-selected");
        y[0].style.borderBottomLeftRadius = "7px";
        y[0].style.borderBottomRightRadius = "7px";
        y[0].style.borderTopRightRadius = "7px";
        y[0].style.borderTopLeftRadius = "7px";
        xl = x.length;
        yl = y.length;
        for (i = 0; i < yl; i++) {
            if (elmnt == y[i]) {
                arrNo.push(i)
            } else {
                y[i].classList.remove("select-arrow-active");
            }
        }
        for (i = 0; i < xl; i++) {
            if (arrNo.indexOf(i)) {
                x[i].classList.add("select-hide");
            }
        }
    }
    /*if the user clicks anywhere outside the select box,
    then close all select boxes:*/
    document.addEventListener("click", closeAllSelect);
</script>
<script>
    function displayAreas() {
        var areas = [];
        var mandirs = {}
        {% for i in object.area_incharge.all%}
         if (mandirs["{{i.location}}"]) {
            mandirs["{{i.location}}"].push("{{i}}")
         } else {
         mandirs["{{i.location}}"] = ["{{i}}"]
        }
        {% endfor %}

        for (let mandir in mandirs) {
        var a = String(mandir)
         demo.innerHTML += `<div class='locations-in' ><i class='bi bi-building-fill'></i ><p> ${mandir} </p>
                            <i style='float: right; cursor: pointer;' onclick='closeaway("${a}")' class='bi bi-caret-down-fill'></i>
                            </div>`

        for (let i = 0; i < mandirs[mandir].length; i++) {
         demo.innerHTML += "<div class='locations-in option' id='options " + mandir + " '"+ a +">" +
                        "<i class='bi bi-geo-alt-fill'></i>" +
                            "<p> " +  mandirs[mandir][i] + "</p>" +
                            "</div>"
        }
        demo.innerHTML += "<br>"
        }






        console.log(mandirs);

            
    }
    function closeaway(mandir) {
        var btn = document.querySelectorAll("[id='options " + mandir + " ']");;
        console.log(btn);
        for (var i = 0; i < btn.length; i++) {
            if (btn[i].style.display ==="none") {
                btn[i].style.display = "block";
            } else {
                btn[i].style.display = "none";
            }

        }
    }
    window.onload = displayAreas();





</script>
<script src="https://code.jquery.com/jquery-3.5.1.js"
          integrity="sha256-QWo7LDvxbWT2tbbQ97B53yJnYU3WhH/C8ycbRAkjPDc="
            crossorigin="anonymous"></script>

{% endblock %}