{% extends "main/base.html" %}
{% load static %}
{% load crispy_forms_tags %}
{% block style %}
<link rel="stylesheet" href='{% static "css/login.css" %}'/>
{% endblock %}

{% block title %} INVENTORY | SIGN IN {% endblock %}

{% block content %}

<div class="content">

    <div class="left">
        <div class="centered">
            <h1>WELCOME</h1>
            <p>Don’t Have an Account?</p>
            <br>
            <a href="{% url 'register' %}"><button class="secondary">SIGN UP</button></a>
        </div>
    </div>

    <div class="right">
        <div class="container">
            <h1>SIGN IN</h1>
            <br>
            <form method="post">
                {% csrf_token %}
                <div class="input-icons">
                    <i class="fa fa-envelope fa-2x icon"></i>
                     {{ form.email }}

<!--                    <input class="input-field" type="email" placeholder="Email">-->
                    <br>
                    <i class="fa fa-lock fa-2x icon"></i>
                    {{ form.password}}
<!--                    <input class="input-field" type="password" placeholder="Password">-->
                    {% if form.non_field_errors %}
                     {% for error in form.non_field_errors %}
                       <p style="text-align: center; color: red;">**{{ error }}**</p>
                     {% endfor %}
                      {% endif %}

                    {% if form.email %}
                     {% for error in form.email.errors %}
                       <p style="text-align: center; color: red;">**{{ error }}**</p>
                     {% endfor %}
                      {% endif %}

                    {% if form.password %}
                     {% for error in form.password.errors %}
                       <p style="text-align: center; color: red;">**{{ error }}**</p>
                     {% endfor %}
                      {% endif %}



                    <input type="submit" value="LOG IN">
                </div>
            </form>
        </div>
    </div>
</div>



<!--<div class="content-section">-->
<!--        <form method="POST">-->
<!--            {% csrf_token %}-->
<!--            <fieldset class="form-group">-->
<!--                <legend class="border-bottom mb-4">Log In</legend>-->
<!--                {{ form|crispy }}-->
<!--            </fieldset>-->
<!--            <div class="form-group">-->
<!--                <button class="btn btn-outline-info" type="submit">Login</button>-->
<!--            </div>-->
<!--        </form>-->
<!--        <div class="border-top pt-3">-->
<!--            <small class="text-muted">-->
<!--                Need An Account? <a class="ml-2" href="{% url 'register' %}">Sign Up Now</a>-->
<!--            </small>-->
<!--        </div>-->
<!--    </div>-->


{% endblock %}

{% block script %}
<script src="https://kit.fontawesome.com/975a26cbae.js" crossorigin="anonymous"></script>

{% endblock %}

