{% extends "main/base.html" %}
{% load static %}
{% load crispy_forms_tags %}
{% block style %}
<link rel="stylesheet" href='{% static "css/login.css" %}'/>
{% endblock %}

{% block title %} Create an Account {% endblock %}

{% block content %}


<div class="container my-5">
    <h2>Create an Account</h2>
<!--<div class="circle">-->
<!--    <i class="fa-solid fa-5x fa-lock" class="lock"></i>-->
<!--</div>-->
<div class="card">

  <div class="card-body">
      <form method="POST">
          {% csrf_token %}
          {{ form|crispy }}
          <div class="form-group">
                <button class="btn btn-outline-info" type="submit">Register</button>
            </div>
      </form>
      <p>Already have an account? <a href="{% url 'login' %}">Sign in</a></p>
  </div>
</div>

</div>



{% endblock %}

{% block script %}
<script src="https://kit.fontawesome.com/975a26cbae.js" crossorigin="anonymous"></script>

{% endblock %}

