<!DOCTYPE html>
<html lang="en" data-joy-color-scheme="light" style="color-scheme: light;">
<head>
    {% load static %}
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
<!--    <link rel="stylesheet" href="c">-->
    <link rel="stylesheet" href='{% static "css/base.css" %}'/>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.10.3/font/bootstrap-icons.css">
    {%block style%} {%endblock%}
    <title>{%block title%} Defalut {%endblock%}</title>
      <!-- ✅ load jQuery ✅ -->
    <script src="https://code.jquery.com/jquery-3.6.0.min.js"
        integrity="sha256-/xUj+3OJU5yExlq6GSYGSHk7tPXikynS7ogEvDej/m4=" crossorigin="anonymous"></script>
</head>
<body>
<!--<script src="{% static 'js/jquery-3.7.0.min.js' %}"></script>-->

{% if show %}
    <div class="navbar">
        <div class="input-icons">
            <a href="{% url 'userareas' %}"><i class="bi fa-3x  bi-house{% if page == 0 %}-fill {%endif%}" id="navicon"></i></a>
            <a href="{% url 'add-area' %}"><i class="bi fa-3x bi-geo-alt{% if page == 1 %}-fill {%endif%}" id="navicon"></i></a>
            <a href="{% url 'add-item' %}"><i class="bi fa-3x bi-plus-circle{% if page == 2 %}-fill {%endif%}" id="navicon"></i></a>
            <a href="{% url 'report-list' %}"><i class="bi fa-3x bi-book{% if page == 3 %}-fill {%endif%}" id="navicon"></i></a>
            <a href="{% url 'settings' %}"><i class="bi fa-3x bi-gear{% if page == 4 %}-fill {%endif%}" id="navicon"></i></a>
            <a href="{% url 'logout' %}"><i class="bi fa-3x bi-box-arrow-right" id="navicon"></i></a>
            <div class="navdis"></div>
        </div>
    </div>
{% endif %}
{% block content %}{% endblock %}


<script src="https://cdn.jsdelivr.net/npm/popper.js@1.14.7/dist/umd/popper.min.js"
        integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1"
        crossorigin="anonymous"></script>
<script src="https://cdn.jsdelivr.net/npm/bootstrap@4.3.1/dist/js/bootstrap.min.js"
        integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM"
        crossorigin="anonymous"></script>

{%block script%} {%endblock%}
</body>
</html>