
* {
    font-family: 'Montserrat', sans-serif;
    margin: 0;
    /* font-size: 22px; */
}

h1 {
    font-size: 60px;
    color: var(--navy)
}
a {
color: black;
}


.main {
    margin: 30px;
    margin-left: 100px;
}

/* Style the tab */
.tab {
    overflow: hidden;
    border-top: 1px solid #ccc;
    border-left: 1px solid #ccc;
    border-right: 1px solid #ccc;
    border-top-left-radius: 20px;
    border-top-right-radius: 20px;
    background-color: white;
}

/* Style the buttons inside the tab */
.tab button {
    /* border-radius: 10px 0px 10px 0px; */

    background-color: rgb(234, 232, 232);
    float: left;
    border: none;
    outline: none;
    cursor: pointer;
    padding: 14px 25px;
    transition: 0.3s;
    font-size: 17px;
    font-size: 20px;
}

/* Change background color of buttons on hover */
.tab button:hover {
    background-color: #ddd;
}

/* Create an active/current tablink class */
.tab button.active {
    color: var(--navy);
    font-weight: 700;
    background-color: var(--whitespace);

}

/* Style the tab content */
.tabcontent {
    display: flex;
    overflow-y: scroll;
    /* padding: 6px 12px; */
    border: 1px solid #ccc;
    border-top: none;
    border-bottom-left-radius: 20px;
    border-bottom-right-radius: 20px;
    justify-content: center;
    align-items: center;
}

.input {
    border: 1px solid #ccc;
    padding: 10px;
    border-radius: 7px;
    font-size: 18px;
    display: block;
    margin-left: auto;
    margin-right: auto;
}

.card {
    display: flex;
    /* justify-content: space-between; */
    padding: 15px;
    background-color: var(--secondary);
    cursor: pointer;
    border: 1px solid #ccc;
    border-radius: 25px;

}

.circle {
    border-radius: 50%;
    height: 100px;
    width: 100px;
    overflow: hidden;
    display: inline-block;
    justify-content: center;
    align-items: center;
}

.text {
    font-size: 18px;
    /* display: block; */
    margin-top: 20px;
    margin-left: 30px;
}

.card-body {
    display: inline;
}

.more-details {
    float: right;
}

p {
    display: inline-block;
}

.location {
    float: right;
    /* text-align-last: right; */
}

.my-header h2 {
    display: flex;
}

.my-header span {
    float: right;
}

.reports {
    margin-top: 15px;
}

/*the container must be positioned relative:*/
.custom-select {
    position: relative;
    font-family: Arial;
    display: block;
    margin-left: auto;
    margin-right: auto;
}

.custom-select select {
    display: none;
    /*hide original SELECT element:*/
}

.select-selected {
    border: 1px solid #ccc;
    padding: 100px;
    border-top-right-radius: 7px;
    border-top-left-radius: 7px;
    font-size: 18px;
    display: block;
    margin-left: auto;
    margin-right: auto;
}




/*style the arrow inside the select element:*/
.select-selected:after {
    position: absolute;
    content: "";
    top: 18px;
    right: 10px;
    width: 0;
    height: 0;
    border-radius: 0px;
    border: 6px solid transparent;
    border-color: black transparent transparent transparent;
}

/*point the arrow upwards when the select box is open (active):*/
.select-selected.select-arrow-active:after {
    border-radius: 0px;

    border-color: transparent transparent black transparent;
    top: 10px;
}


/*style the items (options), including the selected item:*/
.select-items div,
.select-selected {

    padding: 8px 16px;
    cursor: pointer;
    user-select: none;
}

/*style items (options):*/
.select-items {
    border: 1px solid #ccc;
    position: absolute;
    border-bottom-right-radius: 7px;
    border-bottom-left-radius: 7px;
    background-color: white;
    top: 100%;
    left: 0;
    right: 0;
    z-index: 99;
}

/*hide the items when the select box is closed:*/
.select-hide {
    display: none;
}

.select-items div:hover,
.same-as-selected {
    background-color: rgba(0, 0, 0, 0.1);
}